*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1rem;
    font-family: Source Sans Pro, sans-serif; 
    text-align: center;
}


h1{
    font-weight: 300;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    margin: 0;
}

strong{
    font-weight: 900;
 
}

.main{
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: center;
}

.intro{
    color: #fff;
    background-color: #404040;
    background-image: url(img/ribs.jpeg);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
   min-width: 400px;
}



.subtitle{
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    color: #F18119;
}

.top-text{
    font-weight: 900;
    font-size: .75rem;
    text-transform: uppercase;
    color: #F18119;
    order: -1;
    letter-spacing: 1px;
    margin-top: 0;
    padding: .5em;
    border-top: 3px solid #F18119;
    border-image: linear-gradient(to right, #FF713B, #FFA51D) 1;
}

.main-title{
    font-size: 2.5rem;
    font-weight: 900;
    color: #404040;
    margin: 0;
}

.main-subtitle{
    font-size: 1.25rem;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
    color: #F18119;
    letter-spacing: 1px;
}

.main-info{
    font-size: 1.13rem;
    font-weight: 300;
    color:#404040;

}

.disclaimer{
    font-size: .75rem;
    font-weight: 300;
    color: #404040;
    letter-spacing: 1px;
}

/*==================
    media query
==================*/

@media (min-width: 900px) {
    .container{
        display: flex;
    }

    .intro,
    .main{
        width: 50%;
        height: 100vh;

    }

    .intro{
        margin: 0;
        padding: 0;
        justify-content: space-between;
    }

    .top-text{
        margin: 0;
        padding: .5em;
    }
}

/*==============
    form
==============*/
form{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 0 auto;
    padding: .5em;
   
}
input{
    font-size: 1.1rem;
    margin-bottom: 1em;
}

input,
.btn{
    border: 1.4px solid black;
    border-radius: 7px;
    text-align: center;
    transform: scale(1);
    transition: transform 250ms;
    font-weight: 900;
}

input:focus{
    transform: scale(1.1);
}

.btn{
    background-image: linear-gradient(90deg,#FF713B, #FFA51D);
    padding: .25em 1.5em;
    color: #fff;
    cursor: pointer;
    
}

.btn:focus,
.btn:hover{
    transform: scale(1.1);
}
